name:  doc

on: [workflow_dispatch]

jobs:
  documentation:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
            python-version: 3.9.12

    - name: Install dependencies
      run: |
          python -m pip install .[docs]

    - name: Sphinx documentation
      run: |
          cd doc
          sphinx-apidoc -o api ../ansys_optical_automation ../ansys_optical_automation/application/* -f
          make html
          touch _build/html/.nojekyll
    
    - name: Update HTML Documentation
      uses: actions/upload-artifact@v2
      with:
          name: HTML-Documentation
          path: doc/_build/html
          retention-days: 7
      
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
          branch: gh-pages
          folder: doc/_build/html
          clean: true
